In [5]:
import pandas as pd
import numpy as np

In [7]:
df= pd.read_csv('C:\\Users\\User\\desktop\\Datasets\\Bitcoin data.csv')

In [9]:
df

             Date    Price
0    Mar 24, 2020   6744.6
1    Mar 25, 2020   6678.9
2    Mar 26, 2020   6725.1
3    Mar 27, 2020   6373.4
4    Mar 28, 2020   6233.7
..            ...      ...
361  Mar 20, 2021  58093.4
362  Mar 21, 2021  57383.8
363  Mar 22, 2021  54158.3
364  Mar 23, 2021  54452.5
365  Mar 24, 2021  56967.6

[366 rows x 2 columns]

In [10]:
df.drop(['Date'],1,inplace=True)
df.head(7)

    Price
0  6744.6
1  6678.9
2  6725.1
3  6373.4
4  6233.7
5  5890.4
6  6391.0

In [11]:
prediction_days = 30
df['Prediction'] = df['Price'].shift(-prediction_days)

In [12]:
df.head(7)

    Price  Prediction
0  6744.6      7488.5
1  6678.9      7503.8
2  6725.1      7540.4
3  6373.4      7678.9
4  6233.7      7766.0
5  5890.4      7746.9
6  6391.0      8770.9

In [13]:
df.tail(7)

       Price  Prediction
359  57656.0         NaN
360  58088.0         NaN
361  58093.4         NaN
362  57383.8         NaN
363  54158.3         NaN
364  54452.5         NaN
365  56967.6         NaN

In [14]:
x=np.array(df.drop(['Prediction'],1))
x=x[:len(df)-prediction_days ]

print(x)

[[ 6744.6]
 [ 6678.9]
 [ 6725.1]
 [ 6373.4]
 [ 6233.7]
 [ 5890.4]
 [ 6391. ]
 [ 6412.5]
 [ 6638.5]
 [ 6800.5]
 [ 6735.9]
 [ 6857.4]
 [ 6772.7]
 [ 7332.3]
 [ 7185.2]
 [ 7361.2]
 [ 7289. ]
 [ 6863.1]
 [ 6867.8]
 [ 6917.6]
 [ 6841.3]
 [ 6850.9]
 [ 6629.1]
 [ 7085.6]
 [ 7035.8]
 [ 7230.8]
 [ 7122.9]
 [ 6833.5]
 [ 6842.5]
 [ 7112.9]
 [ 7488.5]
 [ 7503.8]
 [ 7540.4]
 [ 7678.9]
 [ 7766. ]
 [ 7746.9]
 [ 8770.9]
 [ 8629. ]
 [ 8821.6]
 [ 8966.3]
 [ 8885.5]
 [ 8874.7]
 [ 9001. ]
 [ 9151.4]
 [ 9979.8]
 [ 9806.2]
 [ 9554.6]
 [ 8738.8]
 [ 8579.8]
 [ 8813.8]
 [ 9298.7]
 [ 9778.4]
 [ 9318. ]
 [ 9379.5]
 [ 9677.7]
 [ 9730.7]
 [ 9773.3]
 [ 9512.3]
 [ 9059. ]
 [ 9169.7]
 [ 9177. ]
 [ 8728.2]
 [ 8898.2]
 [ 8842.5]
 [ 9199.1]
 [ 9572.2]
 [ 9424.8]
 [ 9692.5]
 [ 9454.8]
 [10189.3]
 [ 9527.6]
 [ 9667.2]
 [ 9794.4]
 [ 9631.2]
 [ 9669.6]
 [ 9742.6]
 [ 9777.9]
 [ 9768.8]
 [ 9878.8]
 [ 9283.2]
 [ 9466.6]
 [ 9471.3]
 [ 9345.3]
 [ 9425.4]
 [ 9523.5]
 [ 9464.6]
 [ 9388.1]
 [ 9314. ]
 [ 9358.8]
 [ 9296.4]
 [ 9683.7]
 [ 9624.6]
 [ 9302. ]
 [ 9247.5]
 [ 9160. ]
 [ 9008.3]
 [ 9124. ]
 [ 9185.4]
 [ 9135.4]
 [ 9229.9]
 [ 9085.1]
 [ 9067.1]
 [ 9134.4]
 [ 9081. ]
 [ 9339. ]
 [ 9256. ]
 [ 9429.9]
 [ 9235.7]
 [ 9285.1]
 [ 9233.3]
 [ 9300.8]
 [ 9243.6]
 [ 9253.4]
 [ 9198.7]
 [ 9135.3]
 [ 9155.8]
 [ 9170.2]
 [ 9208. ]
 [ 9162.4]
 [ 9387.3]
 [ 9513.7]
 [ 9599.6]
 [ 9546.4]
 [ 9704.1]
 [ 9932.5]
 [11022.8]
 [10908.5]
 [11105.9]
 [11096.2]
 [11333.4]
 [11803.1]
 [11066.8]
 [11224.4]
 [11184.7]
 [11735.1]
 [11757.1]
 [11592. ]
 [11764.3]
 [11681.2]
 [11889.2]
 [11390.4]
 [11557.2]
 [11770.9]
 [11750.8]
 [11845.3]
 [11899. ]
 [12282.6]
 [11947.6]
 [11750.2]
 [11856.9]
 [11529.2]
 [11661.3]
 [11641.6]
 [11753.5]
 [11324.8]
 [11462.3]
 [11327.4]
 [11527.4]
 [11468.1]
 [11702. ]
 [11644.2]
 [11908.5]
 [11413.3]
 [10168.8]
 [10472.5]
 [10092.2]
 [10296.4]
 [10376.9]
 [10126.6]
 [10224.6]
 [10339.7]
 [10390.2]
 [10441.9]
 [10326. ]
 [10675.3]
 [10785.3]
 [10949.5]
 [10941.3]
 [10933. ]
 [11081.8]
 [10921.5]
 [10416.8]
 [10531.5]
 [10237.3]
 [10739.4]
 [10688.8]
 [10727.9]
 [10776.2]
 [10693.2]
 [10840.9]
 [10776.1]
 [10620.5]
 [10572.3]
 [10544.2]
 [10672.9]
 [10789.5]
 [10602.6]
 [10670.9]
 [10924.1]
 [11054.2]
 [11298.4]
 [11371. ]
 [11533.9]
 [11423.8]
 [11420.4]
 [11503. ]
 [11322. ]
 [11362.1]
 [11506.9]
 [11753.4]
 [11913.5]
 [12808.7]
 [12974.6]
 [12934.1]
 [13117.2]
 [13032.2]
 [13061.6]
 [13657.8]
 [13278.9]
 [13457.2]
 [13559.9]
 [13797.3]
 [13759.4]
 [13561.4]
 [14019.9]
 [14145.6]
 [15587.1]
 [15577.9]
 [14828.4]
 [15483.7]
 [15327.2]
 [15303.6]
 [15695.8]
 [16294.7]
 [16324.2]
 [16071. ]
 [15953. ]
 [16715.8]
 [17662.3]
 [17774.6]
 [17803.5]
 [18675.2]
 [18687.2]
 [18412.9]
 [18379.6]
 [19152.6]
 [18723. ]
 [17162. ]
 [17127.1]
 [17730.7]
 [18185.5]
 [19698.1]
 [18770.7]
 [19218.8]
 [19433.3]
 [18658.1]
 [19146.5]
 [19379.9]
 [19170.7]
 [18326.6]
 [18546. ]
 [18247.2]
 [18023.6]
 [18808.9]
 [19176.8]
 [19273.8]
 [19434.9]
 [21352.2]
 [22825.4]
 [23127.9]
 [23844. ]
 [23474.9]
 [22728.5]
 [23823.2]
 [23257.9]
 [23736.5]
 [24689.6]
 [26454.4]
 [26261.3]
 [27057.8]
 [27376. ]
 [28868.7]
 [28949.4]
 [29359.9]
 [32193.3]
 [32958.9]
 [32022.6]
 [33991.5]
 [36793.2]
 [39460.2]
 [40599.3]
 [40151.9]
 [38192.2]
 [35544.3]
 [34076.1]
 [37382.2]
 [39175.7]
 [36845.8]
 [36019.5]
 [35839.6]
 [36613.2]
 [36002.9]
 [35476.3]
 [30842.1]
 [33000.5]
 [32088.9]
 [32241.3]
 [32252.3]
 [32502.1]
 [30404. ]
 [33374.8]
 [34301.8]
 [34283.1]
 [33108.1]
 [33515.7]
 [35485.2]
 [37646.8]
 [36982.1]
 [38297.6]
 [39256.6]
 [38852.9]
 [46395.7]
 [46508.6]
 [44836. ]
 [47990.7]
 [47371.7]
 [47168.7]
 [48643.4]
 [47936.3]
 [49169.7]
 [52079.2]
 [51582.2]
 [55906.6]
 [55923.7]
 [57433.8]
 [54111.8]]

In [15]:
y =np.array(df['Prediction'])
y=y[:-prediction_days ]

print(y)

[ 7488.5  7503.8  7540.4  7678.9  7766.   7746.9  8770.9  8629.   8821.6
  8966.3  8885.5  8874.7  9001.   9151.4  9979.8  9806.2  9554.6  8738.8
  8579.8  8813.8  9298.7  9778.4  9318.   9379.5  9677.7  9730.7  9773.3
  9512.3  9059.   9169.7  9177.   8728.2  8898.2  8842.5  9199.1  9572.2
  9424.8  9692.5  9454.8 10189.3  9527.6  9667.2  9794.4  9631.2  9669.6
  9742.6  9777.9  9768.8  9878.8  9283.2  9466.6  9471.3  9345.3  9425.4
  9523.5  9464.6  9388.1  9314.   9358.8  9296.4  9683.7  9624.6  9302.
  9247.5  9160.   9008.3  9124.   9185.4  9135.4  9229.9  9085.1  9067.1
  9134.4  9081.   9339.   9256.   9429.9  9235.7  9285.1  9233.3  9300.8
  9243.6  9253.4  9198.7  9135.3  9155.8  9170.2  9208.   9162.4  9387.3
  9513.7  9599.6  9546.4  9704.1  9932.5 11022.8 10908.5 11105.9 11096.2
 11333.4 11803.1 11066.8 11224.4 11184.7 11735.1 11757.1 11592.  11764.3
 11681.2 11889.2 11390.4 11557.2 11770.9 11750.8 11845.3 11899.  12282.6
 11947.6 11750.2 11856.9 11529.2 11661.3 11641.6 11753.5 11324.8 11462.3
 11327.4 11527.4 11468.1 11702.  11644.2 11908.5 11413.3 10168.8 10472.5
 10092.2 10296.4 10376.9 10126.6 10224.6 10339.7 10390.2 10441.9 10326.
 10675.3 10785.3 10949.5 10941.3 10933.  11081.8 10921.5 10416.8 10531.5
 10237.3 10739.4 10688.8 10727.9 10776.2 10693.2 10840.9 10776.1 10620.5
 10572.3 10544.2 10672.9 10789.5 10602.6 10670.9 10924.1 11054.2 11298.4
 11371.  11533.9 11423.8 11420.4 11503.  11322.  11362.1 11506.9 11753.4
 11913.5 12808.7 12974.6 12934.1 13117.2 13032.2 13061.6 13657.8 13278.9
 13457.2 13559.9 13797.3 13759.4 13561.4 14019.9 14145.6 15587.1 15577.9
 14828.4 15483.7 15327.2 15303.6 15695.8 16294.7 16324.2 16071.  15953.
 16715.8 17662.3 17774.6 17803.5 18675.2 18687.2 18412.9 18379.6 19152.6
 18723.  17162.  17127.1 17730.7 18185.5 19698.1 18770.7 19218.8 19433.3
 18658.1 19146.5 19379.9 19170.7 18326.6 18546.  18247.2 18023.6 18808.9
 19176.8 19273.8 19434.9 21352.2 22825.4 23127.9 23844.  23474.9 22728.5
 23823.2 23257.9 23736.5 24689.6 26454.4 26261.3 27057.8 27376.  28868.7
 28949.4 29359.9 32193.3 32958.9 32022.6 33991.5 36793.2 39460.2 40599.3
 40151.9 38192.2 35544.3 34076.1 37382.2 39175.7 36845.8 36019.5 35839.6
 36613.2 36002.9 35476.3 30842.1 33000.5 32088.9 32241.3 32252.3 32502.1
 30404.  33374.8 34301.8 34283.1 33108.1 33515.7 35485.2 37646.8 36982.1
 38297.6 39256.6 38852.9 46395.7 46508.6 44836.  47990.7 47371.7 47168.7
 48643.4 47936.3 49169.7 52079.2 51582.2 55906.6 55923.7 57433.8 54111.8
 48911.2 49697.5 46928.5 46345.6 46136.7 45164.  49595.5 48424.2 50395.1
 48428.  48792.5 48855.6 50982.3 52311.  54879.  55851.9 57799.5 57265.1
 61195.3 59113.7 55791.3 56889.7 58913.5 57656.  58088.  58093.4 57383.8
 54158.3 54452.5 56967.6]

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size =0.2)

In [17]:
prediction_days_arr =np.array(df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_arr)

[[48911.2]
 [49697.5]
 [46928.5]
 [46345.6]
 [46136.7]
 [45164. ]
 [49595.5]
 [48424.2]
 [50395.1]
 [48428. ]
 [48792.5]
 [48855.6]
 [50982.3]
 [52311. ]
 [54879. ]
 [55851.9]
 [57799.5]
 [57265.1]
 [61195.3]
 [59113.7]
 [55791.3]
 [56889.7]
 [58913.5]
 [57656. ]
 [58088. ]
 [58093.4]
 [57383.8]
 [54158.3]
 [54452.5]
 [56967.6]]

In [18]:

from sklearn.svm import SVR

svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, gamma=1e-05)

In [19]:
score=svr_rbf.score(x_test,y_test)

In [20]:
svm_prediction =svr_rbf.predict(x_test)
print(svm_prediction)

print()

print(y_test)

[10064.44845857 11694.95870384 12663.55140285 10885.03404179
 12131.77191586 11488.84204258 19431.21772961 22644.25571638
 11705.86379996 22716.35855279 11625.61523553 18276.67002982
 11928.05637746 11300.96042506 22399.1214982   9404.53500554
 18732.74452304 18279.20338287 20075.50221976 21301.65120857
 23795.80119552 10794.26282904 11697.75742129 12170.01823834
 19018.8575145  14641.90647337  9972.09020685 20474.73445613
 13461.73537938 11871.86202918  9708.38021219 18029.16539956
 13695.52994493 11059.83070376  9813.54470109 15122.61767721
 21516.81024977 11193.46232152 22754.34154635 10999.41629848
 20206.85960891 11618.38834397 10185.90018765 10537.18844217
 13894.54633541 19642.52841958 21511.25808001 10010.07813397
 12596.46000032 11592.78057143 13892.65284716 11180.61240223
 11887.21712351 19070.31756162 11922.29893918 10504.03161657
 11902.58738712  9397.92313661 11702.41815366 20346.25774905
 19081.09830911 12962.62618904 13049.68012844  9753.61635168
 10985.78028796 22785.04621285 11186.4688021  23141.1320021 ]

[ 9379.5 12282.6 11371.  10675.3 11054.2 11757.1 33374.8 28949.4 11105.9
 38192.2 17803.5 19379.9 11753.4  9233.3 49697.5  9513.7 18675.2 19146.5
 61195.3 47990.7 29359.9  9285.1  9160.  10921.5 19170.7  8629.   9388.1
 46928.5 11503.   8728.2  9454.8 17730.7 13759.4  9358.8  8885.5  7678.9
 32088.9  9387.3 32193.3  9345.3 39256.6 11333.4  9773.3 10472.5 14019.9
 48792.5 48643.4  9471.3 10670.9 11845.3 11420.4  9318.  10390.2 55851.9
 10789.5  9624.6 15483.7  8813.8  9683.7 26261.3 57799.5 16294.7 13457.2
  9256.  11081.8 23474.9 11324.8 33991.5]

In [21]:
svm_prediction =svr_rbf.predict(prediction_days_arr)
print(svm_prediction)

print()

print(df.tail(prediction_days))

[20068.52982432 19129.40293304 19769.60479331 19068.87264611
 19067.7278259  19408.71503368 19230.97420581 19782.56719864
 19067.70490754 19789.70893187 20110.06609965 20078.20843327
 19095.0663273  19656.95494825 19070.52617519 20987.98002851
 19330.24041611 19820.02132547 19067.70384811 19067.70384812
 20782.42791727 19119.6516099  19067.70384842 19678.05037881
 19081.54960577 19080.6013505  20043.01376103 20046.31343857
 19380.95033615 19181.52256639]

       Price  Prediction
336  48911.2         NaN
337  49697.5         NaN
338  46928.5         NaN
339  46345.6         NaN
340  46136.7         NaN
341  45164.0         NaN
342  49595.5         NaN
343  48424.2         NaN
344  50395.1         NaN
345  48428.0         NaN
346  48792.5         NaN
347  48855.6         NaN
348  50982.3         NaN
349  52311.0         NaN
350  54879.0         NaN
351  55851.9         NaN
352  57799.5         NaN
353  57265.1         NaN
354  61195.3         NaN
355  59113.7         NaN
356  55791.3         NaN
357  56889.7         NaN
358  58913.5         NaN
359  57656.0         NaN
360  58088.0         NaN
361  58093.4         NaN
362  57383.8         NaN
363  54158.3         NaN
364  54452.5         NaN
365  56967.6         NaN

In [22]:
accuracy=svr_rbf.score(x_test,y_test) 
print("Score",accuracy)

Score 0.30612856404745814